#calculator{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#keys {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 3em;
    font-weight: bold;
    cursor:pointer;
}
